@import "tailwindcss";

/* Bạn có thể định nghĩa thêm các theme hoặc utility riêng ở đây */
@theme {
  /* Example: */
  /* --color-vinmec-red: #da251d; */
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f8fafc; /* bg-slate-50 */
}
